// !! VARS
// ! color
$white: #fff;
$gray: #666666;
$black: #000;
$brand: #ffac11;
$danger: tomato;
// ! width
$widthSmall: 320px;
$widthBig: 1200px;
// ! border
$borRadSmall: 12px;
$borRadBig: 20px;
// ! font
$fontSecondary: Montserrat;
// ! boxShadow
$boxShadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
// ?? VARS

// ! GLOBAL
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
	user-select: none; // !!!
}

input, textarea {
	user-select: text;
}

button{
	width: 100%;
	height: 40px;
	margin-top: 30px;
	color: $white;
	border: none;
	border-radius: $borRadBig;
}

input{
	background: none;
	border: none;
	border-bottom: 1px solid $black;
	height: 35px;
	width: 100%;

	&:focus{
		outline: none;
		border: none;
		border-bottom: 2px solid $black;
	}
}

textarea{
	width: 100%;
	height: 100px;
	padding: 4px;
	margin-bottom: 15px;
	resize: none;
}

a{
	text-decoration: none;
}
// ? GLOBAL

// ! LOGIN
.login{ // this is form
	position: relative;
	width: $widthSmall;
	padding: 15px;
	background: $white;
	border-radius: $borRadSmall;
	margin: 0 auto;
	box-shadow: $boxShadow;

	&__title{
		text-align: center;
		margin-bottom: 30px;
	}

label {
	position: relative;
	display: block;
	margin-top: 15px;
}

img{
	position: absolute;
	top: 25px;
	left: 5px;
	height: 20px;
}

input{
	padding-left: 35px;
}
}
.bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.loginBtn{
	background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}
.logoutBtn{
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
// ? LOGIN

// ! PROD
.prods{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	margin: 0 auto 30px;
}
.prod{
	position: relative;
	display: inline-flex;
	flex-direction: column;
	// align-items: center;
	width: $widthSmall; // todo
	border-radius: $borRadSmall;
	padding: 15px;
	margin: 10px;
	box-shadow: $boxShadow;
	background: lighten($brand, 44%);
	&_small{
		width: calc($widthSmall / 2);
	}
	&_big{
		width: calc($widthSmall * 2);
	}
	&_cart{
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		width: 100vw;
		max-width: $widthSmall * 2;
		margin: 0;
		margin-top: 15px;
		// !!!
		img:not([src*="media/del"]){
			width: 100px;
		}
		// !!!
		> *:not(:last-child) {
			width: 33%;
		}
	}
	&_viewed{
		background: lighten($brand, 35%);
	}
	&__status{
		color: $brand;
		font-style: italic;
		text-transform: uppercase;
		align-self: flex-end;
	}
	&__icons{
		display: flex;
		justify-content: space-between; 
		margin-bottom: 15px;
		width: 100%;
	}
	// ! photo
	&__photo{
		width: 100%;
		height: 100px;
		object-fit: contain;
	}
	&_big &__photo{
		height: 200px;
	}
	// ? photo
	// !!!
	div{
		text-align: center;
		margin-top: 10px;
	}
	&__icon{
		height: 30px;
		width: 30px;
	}
	// !! warning
	&__info, &__counter{
		white-space: nowrap;
		overflow: hidden;
	}
	&__counter{
		overflow: visible;
	}
	&__title{
		color: $gray;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&_big &__info{
		white-space: normal;
	}
	// ?? warning
	&__price{
		color: $brand;
		margin-bottom: 10px;
	}
	&__cats{
		// 
	}
	&__cat{
		display: inline-block;
		border: 1px solid $black;
		border-radius: $borRadBig;
		padding: 6px;
		margin-left: 6px;
	}
	&__counter{
		border: 2px solid $brand;
		border-radius: $borRadSmall;
		padding: 4px;
		// !!!
		span {
			color: $gray;
			padding: 4px 10px;
			font-size: 22px;
		}
		// !!!
		div{
			border-top: 2px solid $brand;
			padding-top: 10px;
		}
	}
}
// ? PROD

// ! PRODFULL
.prodFull{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border: 2px solid red;
	max-width: $widthBig;
	margin: 0 auto;
	&__top{
		display: flex;
		justify-content: space-between;
		padding: 15px;
		width: 100%;
	}
	// !!!
	* div {
	max-width: 400px;
	border: 2px solid red;
	}
	// !!!
	* img {
		max-width: 400px;
		object-fit: contain;
		border: 2px solid red;
	}
}
// ? PRODFULL

// ! CART
.cart{
	&__wrap{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: $widthBig;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	&__prods{
		display: flex;
		flex-direction: column;
	}
	&__num{
		position: relative;
		bottom: 13px;
		right: 5px;
		border: 2px solid $brand;
		color: $brand;
		border-radius: 50%;
		padding: 0px 5px;
	}
}
.total{
	border: 2px solid $brand;
	border-radius: $borRadSmall;
	width: $widthSmall;
	align-self: flex-start;
}
.brandBtn{
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	// OR
	// background-image: linear-gradient(120deg, lighten($brand, 10%) 0%, darken($brand, 10%) 100%);
}
// ? CART

// ! HEADER
.header{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	background: $white;
	box-shadow: $boxShadow;
	&__wrap{
		display: flex;
		justify-content: center;
	}
	&__logo{
		height: 40px;
	}
	&__icon{
		height: 40px;
		width: 40px;
		padding: 5px;
	}
}
.cats{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background: $white;
	padding: 15px;
	border-bottom: 1px solid $gray;
	// !!! one cat
	span{
		font-family: $fontSecondary;
		padding: 10px;
		color: $brand;
		font-weight: 700;
	}
}
// ? HEADER

// ! ADD
.add{
	&__form{
		display: flex;
		flex-direction: column;
		max-width: $widthSmall;
		margin: 0 auto;
		// !!!
		* {
			margin-bottom: 10px;
		}
	}
}
// ? ADD

// ! RECENTLY
.recently{
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow: scroll;
}
// ? RECENTLY
// ! Burger
#menu__toggle {
	opacity: 0;
 }
 #menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
 }
 #menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
 }
 #menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
 }
 #menu__toggle:checked ~ .menu__box {
	left: 0 !important;
 }
 .menu__btn {
	 position: fixed;
	 top: 0px;
	 left: 20px;
	 padding:20px 0;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
 }
 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: 0.25s;
 }
 .menu__btn > span::before {
	content: "";
	top: -8px;
 }
 .menu__btn > span::after {
	content: "";
	top: 8px;
 }
 
// ? Burger

// ! scrollbar
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background: $brand;
	border-radius: 20px;
}
::-webkit-scrollbar-track {
	background: $white;
	border-radius: 20px;
}
// ? scrollbar

// ! OTHER
.zi2{
	z-index: 2;
}
.zi3{
	z-index: 3;
}
.zi9{
	z-index: 9;
}
.m0a{
	margin: 0 auto;
}
.mt{
	margin-top: 15px;
}
.mt2{
	margin-top: 30px;
}
.mb{
	margin-bottom: 15px;
}
.mb2{
	margin-bottom: 30px;
}
.mlr{
	margin: 0 15px 0 15px;
}
.m{
	margin: 15px;
}
.p{
	padding: 15px;
}
.tac{
	text-align: center;
}
.f{
	display: flex;
}
.fsb{
	display: flex;
	justify-content: space-between;
}
.title{
	font-family: $fontSecondary;
	color: $brand;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	width: 100%;
}
.danger{
	color: $danger;
}
.br{
	border: 2px solid red;
}
// ? OTHER
