// !! VARS
// ! color
$white: #fff;
$gray: #666666;
$black: #000;
$brand: #ffac11;
// ! width
$widthSmall: 320px;
// ?? VARS

// ! GLOBAL
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
	user-select: none; // !!!
}

input, textarea {
	user-select: text;
}

button{
	width: 100%;
	height: 30px;
	margin-top: 30px;
	color: $white;
	border: none;
	border-radius: 20px;
}

textarea{
	width: 100%;
	height: 100px;
	padding: 4px;
	margin-bottom: 15px;
	resize: none;
}
// ? GLOBAL

// ! LOGIN
.login{ // this is form
	position: relative;
	width: $widthSmall;
	padding: 15px;
	background: $white;
	border-radius: 8px;
	margin: 0 auto;

	&__title{
		text-align: center;
		margin-bottom: 30px;
	}

label {
	position: relative;
	display: block;
	margin-top: 15px;
}

img{
	position: absolute;
	top: 25px;
	left: 5px;
	height: 20px;
}

	input{
		background: none;
		border: none;
		border-bottom: 1px solid $black;
		height: 35px;
		width: 100%;
		padding-left: 35px;

		&:focus{
			outline: none;
			border: none;
			border-bottom: 2px solid $black;
		}
	}
}
.bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.loginBtn{
	background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}
.logoutBtn{
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
// ? LOGIN

// ! PROD
.prod{
	min-width: $widthSmall; // todo
	&_small{
		width: calc($widthSmall / 2);
	}
	&_big{
		width: calc($widthSmall * 2);
	}
	&_cart{
		display: flex;
		align-items: center;
		justify-content: space-between;
		// !!!
		img:not([src*="media/del"]){
			width: 100px;
		}
	}
	position: relative;
	display: inline-block;
	border: 2px solid $brand;
	border-radius: 12px;
	padding: 15px;
	// ! photo
	&__photo{
		width: 100%;
		height: 100px;
		object-fit: contain;
	}
	&_big &__photo{
		height: 200px;
	}
	// ? photo
	// !!!
	div{
		text-align: center;
		margin-top: 10px;
	}
	&__icon{
		height: 30px;
		width: 30px;
	}
	&__title{
		color: $gray;
	}
	&__price{
		color: $brand;
		margin-bottom: 10px;
	}
	&__cat{
		display: inline-block;
		border: 1px solid $black;
		border-radius: 20px;
		padding: 6px;
		margin-left: 6px;
	}
	&__counter{
		border: 1px solid $brand;
		padding: 4px;
		// !!!
		span {
			color: $gray;
			padding: 4px 10px;
			font-size: 22px;
		}
		// !!!
		div{
			border-top: 2px solid $brand;
			padding-top: 10px;
		}
	}
}
// ? PROD

// ! CART
.cart{
	&__wrap{
		display: flex;
		flex-wrap: wrap;
	}
	&__prods{
		display: flex;
		flex-direction: column;
		width: 50%;
	}
}
.total{
	border: 2px solid $brand;
	width: $widthSmall;
	align-self: flex-start;
}
.brandBtn{
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	// OR
	// background-image: linear-gradient(120deg, lighten($brand, 10%) 0%, darken($brand, 10%) 100%);
}
// ? CART

// ! HEADER
.header{
	&__wrap{
		display: flex;
		justify-content: center;
	}
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__logo{
		height: 40px;
	}
	&__icon{
		height: 40px;
		width: 40px;
		padding: 5px;
	}
}
.cats{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background: $white;
	// !!! one cat
	span{
		padding: 10px;
	}
}
// ? HEADER

// ! ADD
.add{
	&__form{
		display: flex;
		flex-direction: column;
		max-width: $widthSmall;
		margin: 0 auto;
	}
}
// ? ADD

// ! OTHER
.zi2{
	z-index: 2;
}
.zi3{
	z-index: 3;
}
.zi9{
	z-index: 9;
}
.m0a{
	margin: 0 auto;
}
.mt{
	margin-top: 15px;
}
.mt2{
	margin-top: 30px;
}
.mb{
	margin-bottom: 15px;
}
.mlr{
	margin: 0 15px 0 15px;
}
.m{
	margin: 15px;
}
.p{
	padding: 15px;
}
.tac{
	text-align: center;
}
.f{
	display: flex;
}
.fsb{
	display: flex;
	justify-content: space-between;
}

// ! Burger
#menu__toggle {
	opacity: 0;
 }
 #menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
 }
 #menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
 }
 #menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
 }
 #menu__toggle:checked ~ .menu__box {
	left: 0 !important;
 }
 .menu__btn {
	 position: fixed;
	 top: 0px;
	 left: 20px;
	 padding:20px 0;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
 }
 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: 0.25s;
 }
 .menu__btn > span::before {
	content: "";
	top: -8px;
 }
 .menu__btn > span::after {
	content: "";
	top: 8px;
 }
 
// ? Burger