// !! VARS
// ! color
$white: #fff;
$gray: #666666;
$black: #1d1d1d;
$brand: #ffac11;
$danger: tomato;
// ! width
$widthSmall: 320px;
$widthBig: 1200px;
// ! margins
$prodMargin: 10px;
// ! border
$borRadSmall: 12px;
$borRadBig: 20px;
// ! font
$fontSecondary: Montserrat;
$fontMain: Roboto;
// ! boxShadow
$boxShadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
// ?? VARS

// ! GLOBAL
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
	user-select: none; // !!!
}

html, body {
	overflow-x: hidden;
}

input, textarea {
	user-select: text;
}

button{
	width: 100%;
	max-width: $widthSmall;
	height: 40px;
	margin-top: 30px;
	color: $white;
	border: none;
	border-radius: $borRadBig;
	text-transform: uppercase;
}

input{
	background: none;
	border: none;
	border-bottom: 1px solid $black;
	height: 35px;
	width: 100%;

	&:focus{
		outline: none;
		border: none;
		border-bottom: 2px solid $black;
	}
}

textarea{
	width: 100%;
	height: 100px;
	padding: 4px;
	margin-bottom: 15px;
	resize: none;
}

a{
	text-decoration: none;
	color: $black;
	&:visited{
		color: #000;
	}
}

select {
	border: 2px solid $brand;
	border-radius: $borRadSmall;
	height: 30px;
}

label {
	font-style: italic;
}

// cursor pointer
.cp, select, button, .prod__icon, .section, .FAQ{
	cursor: pointer;
}
// ? GLOBAL

// ! LOGIN
.login{ // this is form
	position: relative;
	width: $widthSmall;
	padding: 15px;
	background: $white;
	border-radius: $borRadSmall;
	margin: 0 auto;
	// box-shadow: $boxShadow;

	&__title{
		text-align: center;
		margin-bottom: 30px;
	}

label {
	position: relative;
	display: block;
	margin-top: 15px;
}

img{
	position: absolute;
	top: 25px;
	left: 5px;
	height: 20px;
}

input{
	padding-left: 35px;
}
}
.bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.logoutBtn{
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
// ? LOGIN

// ! PROD
$prodNum: 4;
.prods{
	display: flex;
	flex-wrap: wrap;
	max-width: $widthSmall * $prodNum + ($prodMargin * $prodNum * 2 + $prodMargin); // change $prodNum to fit `num prods` in a row
	margin: 0 auto;
	justify-content: center;
}
.prod{
	position: relative;
	display: inline-flex;
	flex-direction: column;
	// align-items: center;
	width: $widthSmall; // todo
	border-radius: $borRadSmall;
	padding: 15px;
	margin: $prodMargin;
	box-shadow: $boxShadow;
	// background: lighten($brand, 44%);
	&_small{
		width: calc($widthSmall / 2);
	}
	&_big{
		width: calc($widthSmall * 2);
	}
	&_cart{
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		width: 100vw;
		max-width: $widthSmall * 2;
		margin: 0;
		margin-top: 15px;
		// !!!
		img:not([src*="media/del"]){
			width: 100px;
		}
		// !!!
		> *:not(:last-child) {
			width: 33%;
		}
	}
	&_viewed{
		// background: lighten($brand, 35%);
		border: 2px solid $brand;
	}
	&__status{
		color: $brand;
		font-style: italic;
		text-transform: uppercase;
		align-self: flex-end;
	}
	&__icons{
		display: flex;
		justify-content: space-between; 
		margin-bottom: 15px;
		width: 100%;
	}
	// ! photo
	&__photo{
		width: 100%;
		height: 160px;
		object-fit: contain;
	}
	&_big &__photo{
		height: 200px;
	}
	// ? photo
	// !!!
	div{
		text-align: center;
		margin-top: 10px;
	}
	&__icon{
		height: 28px;
		width: 28px;
	}
	// !! warning
	&__info, &__counter{
		white-space: nowrap;
		overflow: hidden;
	}
	&__counter{
		overflow: visible;
		// !!! +/-
		span {
			display: inline-block;
			width: 40%;
		}
	}
	&__title{
		color: $gray;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&_big &__info{
		white-space: normal;
	}
	// ?? warning
	&__price{
		color: $brand;
		margin-bottom: 10px;
	}
	&__categories{
		// 
	}
	&__cat{
		display: inline-block;
		border: 1px solid $black;
		border-radius: $borRadBig;
		padding: 6px;
		margin-left: 6px;
	}
	&__counter{
		border: 2px solid $brand;
		border-radius: $borRadSmall;
		padding: 4px;
		// !!!
		span {
			color: $gray;
			padding: 4px 10px;
			font-size: 22px;
		}
		// !!!
		div{
			border-top: 2px solid $brand;
			padding-top: 10px;
		}
	}
}
// ? PROD

// ! PRODFULL
$prodFullWidth: 600px;
.prodFull{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: $widthBig;
	margin: 0 auto;
	&__top{
		display: flex;
		justify-content: space-between;
		padding: 15px;
		max-width: $prodFullWidth !important;
	}
	// !!!
	&__info {
	max-width: $prodFullWidth / 1.5 !important; // * 400px
	padding: 15px;
	}
	&__photo{
		max-width: $prodFullWidth;
		width: 100%;
		object-fit: contain;
	}
}
.FAQ{
	padding: 15px;
	padding-right: 50px;
	max-width: $prodFullWidth;
	border-bottom: 1px solid $gray;
	&__title{
		position: relative;
		color: $gray;
		text-transform: capitalize;
	}
	&__text{
		padding: 15px;
	}
	&__toggle{
		position: absolute;
		right: -30px;
		top: -10px;
		font-size: 30px;
		color: $gray;
	}
}
.section{
	color: $brand; 
	padding: 15px;
	font-family: $fontSecondary;
	white-space: nowrap;
	text-transform: capitalize;
	&_active{
		font-weight: 700;
		border-bottom: 2px solid $brand;
	}
}
// ? PRODFULL

// ! CART
.cart{
	&__wrap{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: $widthBig;
		margin: 0 auto;
	}
	&__prods{
		display: flex;
		flex-direction: column;
	}
	&__num{
		position: relative;
		bottom: 13px;
		right: 5px;
		border: 2px solid $brand;
		color: $brand;
		border-radius: 50%;
		padding: 0px 5px;
	}
}
.total{
	border: 2px solid $brand;
	border-radius: $borRadSmall;
	width: $widthSmall;
	align-self: flex-start;
	margin: 15px auto;
}
.brandBtn{
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	// OR
	// background-image: linear-gradient(120deg, lighten($brand, 10%) 0%, darken($brand, 10%) 100%);
}
// ? CART

// ! HEADER
.header{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	background: $white;
	box-shadow: $boxShadow;
	// padding: 15px;
	// border-bottom: 1px solid $gray;
	&__wrap{
		display: flex;
		justify-content: center;
	}
	&__logo{
		height: 40px;
		margin-left: 15px;
	}
	&__icon{
		height: 40px;
		width: 40px;
		padding: 5px;
	}
	&__nav{
		align-items: center;
		height: 40px;
		// !!!
		a{
			// padding: 15px;
			white-space: nowrap;
		}
	}
	// !!
	input{
		width: 200px;
	}
}
.categories{
	position: relative;
	display: flex;
	justify-content: center;
	// flex-wrap: wrap;
	overflow-x: auto; // todo `like BURGER`: catalog of prods
	width: 100%;
	background: $brand; // var 1
	// background: lighten($brand, 30%); // var 2
	padding: 15px;
}
	// !!! one cat
.cat{
	font-family: $fontSecondary;
	padding: 10px;
	color: $white; // var 1
	// color: $black; // var 2
	font-weight: 700;
	text-transform: uppercase;
	&_active{
		color: darken($brand, 25%);
	}
}
// ? HEADER

// ! ADD
.add{
	&__form{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: $widthBig;
		margin: 0 auto;
		// !!!
		* {
			margin-bottom: 10px;
		}
		// !!!
		> div {
			display: flex;
			flex-direction: column;
			width: $widthBig / 3 - 50;
			padding: 15px;
			margin: 15px auto;
			border: 1px dashed $gray;
		}
		// !!!
		> p {
			width: 100%; 
			display: flex; 
			justify-content: center;
		}
	}
}
// ? ADD

// ! RECENTLY
.recently{
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow: scroll;
}
// ? RECENTLY
// ! Burger
#menu__toggle {
	opacity: 0;
 }
 #menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
 }
 #menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
 }
 #menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
 }
 #menu__toggle:checked ~ .menu__box {
	left: 0 !important;
 }
 .menu__btn {
	 position: fixed;
	 top: 0px;
	 left: 20px;
	 padding:20px 0;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
 }
 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: 0.25s;
 }
 .menu__btn > span::before {
	content: "";
	top: -8px;
 }
 .menu__btn > span::after {
	content: "";
	top: 8px;
 }
 
// ? Burger

// ! scrollbar
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background: lighten($brand, 30%);
	border-radius: 20px;
}
::-webkit-scrollbar-track {
	background: $white;
	border-radius: 20px;
}
// ? scrollbar

// ! animation
.banner{
	position: relative;
	animation: banner 12s infinite;
	// !!!
	img{
		width: 100%;
	}
}

@keyframes banner {
	0%{right: 0%;}
	33%{right: 100%;}
	66%{right: 200%;}
	100%{right: 300%;}
}

.delAnim{
	animation: delAnim .5s forwards;
}
@keyframes delAnim {
	0%{filter: blur(0)}
	100%{filter: blur(10px)}
}

.opAnim{
animation: opAnim 2s forwards;
}

@keyframes opAnim {
	0%{opacity: 0;}
	100%{opacity: 1;}
}
// ? animation

// ! google translate
#google_translate_element{
	img{
		display: none;
	}
	* {
		border: none !important;
		padding: 0;
	}
}
.skiptranslate{
	top: -50px;
}
// tooltip
.goog-tooltip {
	display: none !important;
}
.goog-tooltip:hover {
	display: none !important;
}
.goog-text-highlight {
	background-color: transparent !important;
	border: none !important; 
	box-shadow: none !important;
}
#goog-gt-, .goog-te-balloon-frame{display: none !important;} 
.goog-text-highlight { background: none !important; box-shadow: none !important;}
// top frame 1
.VIpgJd-ZVi9od-ORHb{display: none !important;}
body{ top: 0 !important;}
.goog-te-banner-frame{display: none !important;}
// top frame 2
.skiptranslate iframe {display: none !important;} 
body {top: 0px !important;}
// top frame 3
// body > .skiptranslate {
// 	display: none;
// }
// top left loader img
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf{display: none !important;}
// ? google translate

// ! OTHER
.brand{
	color: $brand;
}
.title, .title2, .googTransT1{
	margin: 30px 0;
	font-family: $fontSecondary;
	color: $brand;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
}
.googTransT1{
	font-family: $fontMain;
}
.title2{
	margin: 15px 0;
	font-size: 19px;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.zi2{
	z-index: 2;
}
.zi3{
	z-index: 3;
}
.zi9{
	z-index: 9;
}
.mt{
	margin-top: 15px;
}
.mt2{
	margin-top: 30px;
}
.mb{
	margin-bottom: 15px;
}
.mb2{
	margin-bottom: 30px;
}
.mlr{
	margin: 0 15px 0 15px;
}
.m{
	margin: 15px;
}
.ml{
	margin-left: 15px;
}
.mr{
	margin-right: 15px;
}
.ml3{
	margin-left: 3px;
}
.p{
	padding: 15px;
}
.pt{
	padding-top: 15px;
}
.tac{
	text-align: center;
}
.f{
	display: flex;
}
.if{
	display: inline-flex;
}
.fcc{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.fsb{
	display: flex;
	justify-content: space-between;
}
.fse{
	display: flex;
	justify-content: space-evenly;
}
.br{
	border: 2px solid red;
}
.c{
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.w100{
	width: 100%;
}
.bold{
	font-weight: 700;
}
.ttc{
	text-transform: capitalize;
}
.ttu{
	text-transform: uppercase;
}
// ? OTHER

// ! NULL
.m0{
	margin: 0;
}
.m0a{
	margin: 0 auto;
}
.danger{
	color: $danger;
}
// ? NULL